<div class="producto-detalle">
  <button id="botonVolver">⮲</button>
  <div class="imagen-y-compra">
    <div class="imagen">
      <img [src]= "'assets/xd.jpg'" alt="Imagen del producto">
    </div>
    <div class="datos-compra">
      <p>Precio: ${{ producto[0].precio }}</p>
      <p>Cantidad: <input type="number" [(ngModel)]="cantidad" (input)="actualizarTotal()" min="1" style="border-radius: 8px; text-align: center; width: 40px; "></p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Total: ${{ total }}</p>
      <button (click)="comprar()">Comprar</button>
    </div>
  </div>
    <div class="info-producto">
      <h2> Nombre del producto </h2>
      <p>Estado: usado</p>
      <p>Precio: $20</p>
      <p>Cantidad: <input type="number"></p>
      <p>Descripción: xd</p>
      <p>Precio de envío: $0</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
      <p>Precio de envío: ${{ producto[0].precioEnvio }}</p>
    </div>
</div>
  
