/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800%27);*/


body{
    margin: 0;
    padding: 0px;
    position: static;
    background-color: white;
    font-family: Arial, sans-serif;
    color: #333;
}
